html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: black;
}

/* top */

#front::before{
    content:"";
    position: absolute;
    background:url('../beer/navbar.jpeg') no-repeat center center/cover;
    top:0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
#front{
    position: relative;
}
#header{
    display:flex;
    width: 100%;
    justify-content: center;
}
#header img{
    height: 10rem;
}
#header h1{
    margin-bottom: 0px;
    margin-top: 0px;
    text-shadow: 6px 6px black;
    font-size:8em;
    font-family: 'Akaya Telivigala', cursive;
    
}

/* NAVBAR */

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(238, 236, 236);
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.box{
    display: flex;
    list-style:none ;
    text-align: center;
    justify-content: center;
}
.box li a{color:black;  
    margin: 20px 20px;
    padding: 20px 20px;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Supermercado One', cursive;
    transition-property: background-color , color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.box li a:hover{
    color:black;
    border-radius: 5px;
    background-color: rgb(158, 156, 156);
}

/* Home */
#Home::before{
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
    z-index: -1;
    opacity: .8;
    background: url('../beer/bg2.jpg') no-repeat center center/cover;
}
#Home{
    display: flex;
    flex-direction: column;
    height:640px;
    justify-items: center;
    align-items: center;
}
.h-primary{
    margin-top: 3em;
    margin-bottom: 1.3em;
    text-align: center;
    font-size: 6em;
    animation-name: welcome;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: forward;
}
@keyframes welcome {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}
.h-secondary{
    font-size: 3em;
    text-align: center;
    animation-name: tagline;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: forward;
}
    @keyframes tagline {
        From{
            font-size: 0px;
        }
        To{
            font-size: 3em;
        }
        
        
    }
#Beer-hub{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 5px;    
}
#navbar ul{
    padding: 0px;
    margin: 5px;
}
.Box2{
    border: 2px solid grey;
    background-color:  rgb(238, 236, 236);
    text-align: center;
}
.Box2 h3{
    color: black;
    
}
.Box2 img{
    color: black;
    height: 200px;
    width: 200px;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

#thought::before{
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
    z-index: -1;
    opacity: .7;
    background: url('../beer/bg4.jpg') no-repeat center center/cover;
}
#thought{
    display: flex;
    margin-top: 5px;

}
#thought h1{
    width: 100%;
    text-align: center;
}
#footer{
    position: relative;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    background-color: black;
}

